<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand text-white ml-3" href="#">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt="logo"
    />
    Full Calendar in Angular
  </a>
</nav>
<div class="container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<ng-template #viewModal>
  <div class="modal-header px-5">
    <h5 class="modal-title text-white ms-2">Create an Event</h5>
  </div>
  <div class="modal-body px-5">
    <label class="text-white mb-2 mt-2">Enter event name</label>
    <input
      type="text"
      id="title"
      name="title"
      [(ngModel)]="eventName"
      placeholder="Enter event"
      class="text-white bg-transparent px-2 rounded h-30 w-100 mt-2"
    />
  </div>
  <div class="d-flex justify-content-end mt-3 mb-4 px-5">
    <button
      class="btn btn-primary mr-2 w-30"
      (click)="createEvent()"
      [disabled]="eventName === ''"
    >
      Save
    </button>
    <button
      class="btn btn-secondary ml-2 w-30 cancelBtn"
      (click)="cancelDialog()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #deleteModal>
  <div class="modal-header px-5">
    <h5 class="modal-title text-white ms-2">Delete an Event</h5>
  </div>
  <div class="modal-body px-5">
    <p class="px-3 text-white">Are you sure you want to delete this event?</p>
  </div>

  <div class="d-flex justify-content-end mt-3 mb-4 mr-5 px-5">
    <button class="btn btn-primary mr-2 w-30" (click)="deleteEvent($event)">
      Delete
    </button>
    <button
      class="btn btn-secondary ml-2 w-30 cancelBtn"
      (click)="cancelDialog()"
    >
      Cancel
    </button>
  </div>
</ng-template>
