.container{
    width:800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.cancelBtn{
    margin-left: 10px;
}

::ng-deep .modal-content {
    top: 50% !important;
    background-color: #27324E !important;
    width: 500px;
}

input:focus{
    outline: none;
}

input{
    border: 1px solid grey;
}